<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=devicewidth,initial-scale=1" > -->
    <meta name="google-site-verification" content="InGR8ap0xPxqKxgeEI6u7BdpT4k4_GW55RpsfpFFT5c" />
    <title>バウンティラッシュ　最強メダル編成　ランキング</title>
    </P>
    <link href="rel=stylesheet" href="https://nicolas-cusan.github.io/destyle.css/">
      <script src="jquery-3.6.0.min.js">         </script>
      
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-7699202506197983" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
        <div id="popup">
          <!-- <div class="popup-content">
            <button></button>
            <a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" rel="nofollow">
            <img border="0" width="500" height="500" alt="" src="https://www23.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007020000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15SMO1" alt="">
            
        </div> -->
      </div>  
      <meta name="google-site-verification" content="EPdkz_L4aTYsc7jcuDIiEi3H7HsN5nEVCy39oKCT6tY" />
    <header>
        <div class="header">
          <div class="color">
            <h1>バウンティラッシュメダル<br>最強ランキング</h1>
          </div>
        </div>
    </header>
    <div class="container">
     
        <main>
         
          <p class="article-desc">
            ※キャラのランキングは戦闘力、スキル、特性やクエストでの<br>汎用性等を総合的に加味して判断しております。

          </p>

          <br>

          <h3>ゲッターメダルランキング</h3>


          <table class="pakuri">
            <tbody>
              <tr class="mu__table--row1"><td rowspan="2" class="rank">1位</td><th class="mu__table--col1" style="width:33px" colspan="3">火拳銃×大猿王銃×ルーシー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ルーシー.webp"></td><td><img class="b" src="バウンドマン.webp"></td><td><img class="c" src="ルフィロー.webp"></td>

                <tr class="mu__table--row1"><td rowspan="2" class="rank">1位</td><th class="mu__table--col1" style="width:33px" colspan="3">ハンコ３種</th></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="１ハンコ.webp"></td><td><img class="b" src="ハンコ２.webp"></td><td><img class="c" src="ハンコ３.webp"></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">2位</td><th class="mu__table--col1" style="width:33px" colspan="3">メス×大波白糸×ルーシー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="メス.webp"></td><td><img class="b" src="ドフィ.webp"></td><td><img class="c" src="ルーシー.webp"></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">3位</td><th class="mu__table--col1" style="width:33px" colspan="3">火拳銃×大猿王銃×ジェットルフィ</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ジェットルフィ.jpg"></td><td><img class="b" src="バウンドマン.webp"></td><td><img class="c" src="ルフィロー.webp"></td>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">4位</td><th class="mu__table--col1" style="width:33px" colspan="3">メス×大波白糸×ロー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="メス.webp"></td><td><img class="b" src="ドフィ.webp"></td><td><img class="c" src="ローメダル.png"></td></tr>
              
              <tr class="mu__table--row1"><td rowspan="2" class="rank">5位</td><th class="mu__table--col1" style="width:33px" colspan="3">象銃乱打×大猿王銃×王蛇</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="エレファント銃メダル.png"></td><td><img class="b" src="バウンドマン.webp"></td><td><img class="c" src="スネイクマン.png"></td>
              
              <tr class="mu__table--row1"><td rowspan="2" class="rank">6位</td><th class="mu__table--col1" style="width:33px" colspan="3">象銃乱打×ルーシー×王蛇</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="エレファント銃メダル.png"></td><td><img class="b" src="ルーシー.webp"></td><td><img class="c" src="スネイクマン.png"></td>
            
              <tr class="mu__table--row1"><td rowspan="2" class="rank">7位</td><th class="mu__table--col1" style="width:33px" colspan="3">メス×大波白糸×カウンターショック</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="メス.webp"></td><td><img class="b" src="ドフィ.webp"></td><td><img class="c" src="イベローメダル.jpg"></td></tr>
                  
            </tbody>
          </table>

          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7699202506197983"
     crossorigin="anonymous"></script>
<!-- 画面いっぱい -->
<ins class="adsbygoogle"
     style="display:inline-block;width:380px;height:700px"
     data-ad-client="ca-pub-7699202506197983"
     data-ad-slot="5042054714"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


          <h3>アタッカーメダルランキング</h3>


          <table class="pakuri">
            <tbody>
              <tr class="mu__table--row1"><td rowspan="2" class="rank">1位</td><th class="mu__table--col1" style="width:33px" colspan="3">ハンコ３種</th></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="１ハンコ.webp"></td><td><img class="b" src="ハンコ２.webp"></td><td><img class="c" src="ハンコ３.webp"></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">2位</td><th class="mu__table--col1" style="width:33px" colspan="3">象銃乱打×ナイトメア×大辰撼</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="エレファント銃メダル.png"></td><td><img class="b" src="ナイトメアメダル.jpg"></td><td><img class="c" src="大辰撼メダル.jpg"></td>
            
              <tr class="mu__table--row1"><td rowspan="2" class="rank">3位</td><th class="mu__table--col1" style="width:33px" colspan="3">火拳銃×大猿王銃×ルーシー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ルーシー.webp"></td><td><img class="b" src="バウンドマン.webp"></td><td><img class="c" src="ルフィロー.webp"></td>
                
              <tr class="mu__table--row1"><td rowspan="2" class="rank">2位</td><th class="mu__table--col1" style="width:33px" colspan="3">メス×大波白糸×ルーシー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="メス.webp"></td><td><img class="b" src="ドフィ.webp"></td><td><img class="c" src="ルーシー.webp"></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">3位</td><th class="mu__table--col1" style="width:33px" colspan="3">火拳銃×大猿王銃×ジェットルフィ</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ジェットルフィ.jpg"></td><td><img class="b" src="バウンドマン.webp"></td><td><img class="c" src="ルフィロー.webp"></td>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">4位</td><th class="mu__table--col1" style="width:33px" colspan="3">メス×大波白糸×ロー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="メス.webp"></td><td><img class="b" src="ドフィ.webp"></td><td><img class="c" src="ローメダル.png"></td></tr>
              
              
            </tbody>
          </table>



          <h3>デフェンダーメダルランキング</h3>


          <table class="pakuri">
            <tbody>
              <tr class="mu__table--row1"><td rowspan="2" class="rank">1位</td><th class="mu__table--col1" style="width:33px" colspan="3">藤虎×コラソン×ほびほび</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ふじとらメダル.webp"></td><td><img class="b" src="コラソンメダル.webp"></td><td><img class="c" src="ほびほびメダル.webp"></td>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">2位</td><th class="mu__table--col1" style="width:33px" colspan="3">キッドの相棒×鬼キッド×鬼ルフィ</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="medaru" src="キッドの相棒メダル.jpg"></td><td><img class="b" src="鬼キッドメダル.jpg"></td><td><img class="c" src="鬼ルフィメダル.jpg"></td></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">3位</td><th class="mu__table--col1" style="width:33px" colspan="3">藤虎×コラソン×センゴク</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ふじとらメダル.webp"></td><td><img class="b" src="コラソンメダル.webp"></td><td><img class="c" src="センゴクメダル.jpg"></td>

                <tr class="mu__table--row1"><td rowspan="2" class="rank">4位</td><th class="mu__table--col1" style="width:33px" colspan="3">キッド三種</th></tr></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="medaru" src="キッドの相棒メダル.jpg"></td><td><img class="b" src="鬼キッドメダル.jpg"></td><td><img class="c" src="キッドメダル.jpg"></td></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">5位</td><th class="mu__table--col1" style="width:33px" colspan="3">キッド×ボニー×ロー</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="キッドメダル.jpg"></td><td><img class="b" src="ボニーメダル.jpg"></td><td><img class="c" src="ローメダル.png"></td>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">6位</td><th class="mu__table--col1" style="width:33px" colspan="3">ゴロゴロ神器</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ゴロゴロメダル.jpg"></td><td><img class="b" src="エネルメダル.jpg"></td><td><img class="c" src="アマルメダル.jpg"></td></tr>

              <tr class="mu__table--row1"><td rowspan="2" class="rank">7位</td><th class="mu__table--col1" style="width:33px" colspan="3">ゴロゴロ二種</th></tr></tr>
              <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ゴロゴロメダル.jpg"></td><td><img class="b" src="ゴロゴロメダル.jpg"></td><td><img class="c" src="エネルメダル.jpg"></td></tr>
              
              
            </tbody>
          </table>
        
            <h2>ゲッターおすすめ編成</h2>

            <table class="pakuri">
              <tbody>
                <tr class="mu__table--row1"><th class="mu__table--col1" style="width:33px" colspan="3">火拳銃×大猿王銃×ルーシー</th></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ルーシー.webp"></td><td><img class="b" src="バウンドマン.webp"></td><td><img class="c" src="ルフィロー.webp"></td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">解説</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">与ダメを最大25％も増加することができる他、3枚ともタグが同じでセット効果が多い。さらに旗を奪取すると5％回復のおまけ付き。ドレスルフィセットの完成形ともいえる編成。<br>※アタッカーにも併用可</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">おすすめキャラ</th></tr>
                <tr><td><img src="おでん.webp"></td><td><img src="ヤマト.webp"></td><td><img src="レイリー.webp"></td></tr>
              </tbody>
            </table>

            <table class="pakuri">
              <tbody>
                <tr class="mu__table--row1"><th class="mu__table--col1" style="width:33px" colspan="3">メス×大波白糸×ルーシー</th></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="メス.webp"></td><td><img class="b" src="ドフィ.webp"></td><td><img class="c" src="ルーシー.webp"></td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">解説</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">作っておいてまず間違いないのがこの編成。
                  奪取速度最大36％を出せるため、ゲッターと非常に相性が良い。タグが合わせやすく、自由枠に編成できるメダルの幅が広いため、汎用性が高い点も優秀。</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">おすすめキャラ</th></tr>
                <tr><td><img src="おロビ.webp"></td><td><img src="ビックマム.webp"></td><td></td></tr>
              </tbody>
            </table>

            <h2>アタッカーおすすめ編成</h2>

            <table class="pakuri">
              <tbody>
                <tr class="mu__table--row1"><th class="mu__table--col1" style="width:33px" colspan="3">ハンコ３種</th></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="１ハンコ.webp"></td><td><img class="b" src="ハンコ２.webp"></td><td><img class="c" src="ハンコ３.webp"></td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">解説</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">与ダメ増加と被ダメ減少が付いている最もバランスのとれた優秀な編成。赤犬以外のアタッカーで迷ったらとりあえずこのメダル！</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">セット効果</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">
                                                                ・スキル1のクールタイム短縮速度が20％増加する
                                                               <br>
                                                                ・スキル2のクールタイム短縮速度が14％増加する
                                                                <br>
                                                                ・回避のクールタイム短縮速度が10％増加する
                                                                <br>
                                                                ・奪取速度が20％増加する
                                                                <br>
                                                                ・自チームのお宝確保数が敵チームより少ないとき、与えるダメージが7％増加する</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">おすすめキャラ</th></tr>
                <tr><td><img src="ロジャー.webp"></td><td><img src="夢ルフィ.webp"></td></tr>
              </tbody>
            </table>


            <h2>ディフェンダーおすすめ編成</h2>


            <table class="pakuri">
              <tbody>
                <tr class="mu__table--row1"><th class="mu__table--col1" style="width:33px" colspan="3">藤虎×コラソン×ほびほび</th></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="a" src="ふじとらメダル.webp"></td><td><img class="b" src="コラソンメダル.webp"></td><td><img class="c" src="ほびほびメダル.webp"></td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">解説</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">被ダメ最大20％減少という優秀な編成。ほびほびメダルをバッファローメダルに変えてもよし</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">セット効果</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">                                                               
                                                                ・スキル1のクールタイム短縮速度が14％増加する
                                                               <br>
                                                                ・スキル2のクールタイム短縮速度が14％増加する
                                                                <br>
                                                                ・回避のクールタイム短縮速度が10％増加する
                                                                <br>
                                                                ・自分がいるお宝エリアに味方がいないとき、受けるダメージが7％減少
                                                                <br>
                                                                </tr>
                <tr class="mu__table--row1"><th class="mu__table--col1" colspan="4">おすすめキャラ</th></tr>
                <tr><td><img src="カイドウ.webp"></td><td><img src="ジョズ.webp"></td><td><img src="フランキー.webp"></td></tr>
                <tr></td><td><img src="キッド.webp"></tr>
              </tbody>
            </table>

            


            <table class="pakuri">
              <tbody>
                <tr class="mu__table--row1"><th class="mu__table--col1" style="width:33px" colspan="3">キッドの相棒×鬼キッド×鬼ルフィ</th></tr>
                <tr class="mu__table--row2"><td class="mu__table--col1" ><img class="medaru" src="キッドの相棒メダル.jpg"></td><td><img class="b" src="鬼キッドメダル.jpg"></td><td><img class="c" src="鬼ルフィメダル.jpg"></td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">解説</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">耐久力の高いディフェンダーはこのメダル</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">セット効果</th></tr>
                <tr class="mu__table--row4"><td class="mu__table--col1" colspan="4">
                                                                ・スキル1のクールタイム短縮速度が20％増加する
                                                               <br>
                                                                ・スキル2のクールタイム短縮速度が14％増加する
                                                                <br>
                                                                ・回避のクールタイム短縮速度が10％増加する
                                                                <br>
                                                                ・奪取速度が20％増加する
                                                                <br>
                                                                ・自チームのお宝確保数が敵チームより少ないとき、与えるダメージが7％増加する</td></tr>
                <tr class="mu__table--row3"><th class="mu__table--col1" colspan="4">おすすめキャラ</th></tr>
                <tr><td><img src="カイドウ.webp"></td><td><img src="ジョズ.webp"></td><td><img src="フランキー.webp"></td></tr>
                <tr></td><td><img src="ページワン.webp"></tr>
              </tbody>
            </table>

          
          <!-- <div id="app">
            <h2>コメント</h2>
            <input type="text" v-model="message">
            <button v-on:click="submit">投稿</button>
            <p v-if="ok">{{message}}</p>

          </div> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
          
        </main>
        
        <!-- <aside>
          <div><a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" rel="nofollow">
            <img border="0" width="120" height="600" alt="" src="https://www23.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007012000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" alt=""></div> 
          <div><a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" rel="nofollow">
            <img border="0" width="180" height="180" alt="" src="https://www20.a8.net/svt/bgt?aid=211113140302&wid=001&eno=01&mid=s00000008903001080000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3HOVXW+4ZSXGY+1WP2+6FHC1" alt=""></div>
          <div><a href="https://px.a8.net/svt/ejp?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" rel="nofollow">
            <img border="0" width="120" height="600" alt="" src="https://www23.a8.net/svt/bgt?aid=220205309654&wid=001&eno=01&mid=s00000001642007012000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3N3RI5+ATDIEQ+CO4+15QWXT" alt=""></div>
          <div>
            <a href="https://rpx.a8.net/svt/ejp?a8mat=3HOVXW+4Z7HV6+2HOM+61JSH&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0ea62065.34400275.0ea62066.204f04c0%2Fa21111384274_3HOVXW_4Z7HV6_2HOM_61JSH%3Fpc%3Dhttp%253A%252F%252Fwww.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Fm.rakuten.co.jp%252F" rel="nofollow">
              <img src="http://hbb.afl.rakuten.co.jp/hsb/0eb4bbd6.e4f5b3a4.0eb4bbaa.95151395/" border="0"></a>
              <img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3HOVXW+4Z7HV6+2HOM+61JSH" alt="">
          </div> 
        </aside> -->
        
     </div>
    <footer>
      <!-- <a href="https://px.a8.net/svt/ejp?a8mat=3HOVXW+4YM29E+0K+10VL7L" rel="nofollow">
        <img border="0" width="476" height="120" alt="" src="https://www26.a8.net/svt/bgt?aid=211113140300&wid=001&eno=01&mid=s00000000002006194000&mc=1"></a>
        <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3HOVXW+4YM29E+0K+10VL7L" alt=""> -->
      <h3>修正案はこちらのツイッターまで</h3><a rel="noopener" href="https://twitter.com/@qtorzPxKhfLnpOQ" target="_blank" class="aioseop-link">にゃー</a>
    </footer>
    
</body>
</html>

